<section class="form-container">
  <img src="/images/4957136.jpg" alt="">
<form action="/signup" method="post">

  <h3>Get started</h3>
  Username: <input type="text" name="username" placeholder="Username"> <br>
  Password: <input type="password" name="password" placeholder="Password"> <br>
  <button class="save-button" type="submit">Signup</button>

</form>

</section>